/*=====================
  Формы
=====================*/
input[type='text'],
textarea,
select,
input[type='password']{ /* поля */
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  padding: 20px 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;

  &:focus{
    border: 1px solid #ccc;
  }
}

button{
  cursor: pointer;
  outline: none;
}